
.spanc {
	font-size: 250px;
	margin-left: 10%;
	margin-top: 300px;
	position: absolute;
	top:0;

}
html{
	width: 100%;
	height: 100%;
}
.fondspan{

	background-image:url(https://unsplash.it/1920/1080?image=985);
	background-image: no-repeat;
	height:770px;
}
.inputM {
	width: 100px;
}
.under {
	background-color: #282c37;
	height:50px;

}
.buttonc {
	margin-top: -60px;
	margin-left: 40px;

}
button {
	width: 100px;
	height: 60px;
}

.inputB {
	margin-left: 42%;
	margin-top: -60px;
}
.ui.blue.progress.active {
	margin:0 auto;

}
#chargement {
	width: 100%;
}
iframe{
	width:100%;
	height: 100%;
}
